/* ***************************************************************** Título ***************************************************************** */
#especiales h4 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
/* ********************************************************** Lista de navegación ********************************************************** */
ol {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

ol li {
  margin: 0 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
  border-radius: 10px;
}
/* ************************************************************ Elemento activo ************************************************************ */
.active {
  color: green;
  border-color: green;
  transform: scale(1.1);
}
/* ********************************************************* Contenedor principal ********************************************************* */
.main-container {
  display: flex;  /* Para colocar las imágenes y miniaturas lado a lado */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
/* ********************************************************************************************************** Contenedor de la imagen activa */
#active-image-container {
  width: 100%; /* La imagen grande ocupará el 100% del espacio */
  height: 400px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#active-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* ******************************************* Contenedor de las miniaturas a la izquierda ******************************************* */
#image-pagination {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas para la primera fila */
  gap: 10px; /* Espacio entre las miniaturas */
  justify-items: center;
  align-items: center;
}
/* Las imágenes a partir de la cuarta (n+4) deberían ocupar 4 columnas automáticamente */
#image-pagination > .image-thumbnail:nth-child(n+4) {
  grid-column: span 1; /* Cada imagen ocupa una columna */
}
/* Esto asegura que las siguientes imágenes ocupen 4 columnas en la segunda fila */
#image-pagination {
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas para la segunda fila */
}
/* ************************************************************* Miniaturas */
.image-thumbnail {
  margin: 10px; /* Espaciado entre las miniaturas */
  cursor: pointer;
}

.thumbnail-image {
  width: 120px;  /* Tamaño de las miniaturas */
  height: auto;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s;
}
/* ************************************************************ Efecto de hover */
.thumbnail-image:hover {
  border: 2px solid #333;
}
/* ************************************************************* Imagen activa */
.thumbnail-image.active {
  border: 2px solid dodgerblue;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */