/* Estilo general para el pie de página */
.footer {
  background-color: #000000;  /* Fondo oscuro */
  color: #ffffff;  /* Texto blanco */
  text-align: center;  /* Centrar el texto */
  border-top: 3px solid silver;  /* Línea verde arriba para resaltar */
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px; /* Tamaño de fuente para todo el pie de página */
  position: relative;
}
/* Flexbox para las columnas del pie de página */
.footer-columnas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Para que los elementos se acomoden en pantallas pequeñas */
  gap: 20px; /* Espacio entre las columnas */
  margin-top: 20px; /* Espacio entre el párrafo y las columnas */
}
.footerIMGizquierda,
.footerIMGderecha {
  flex: 1; /* Hace que las imágenes tomen un espacio proporcional */
  max-width: 90px; /* Limita el tamaño máximo de las imágenes */
  height: 100%; /* Ajusta la altura proporcionalmente */
  margin: 0 10px; /* Espaciado entre las imágenes y otros elementos */
  object-fit: cover;
}
/* Texto en el pie de página */
.footer-parrafo {
  position: absolute; /* Posicionamiento absoluto */
  top: 0; /* Coloca el párrafo en la parte superior del contenedor */
  left: 50%;
  transform: translateX(-50%); /* Centra el párrafo horizontalmente */
  margin: 20px;
  padding: 10px;
  color: white; /* Texto blanco */
  text-align: center; /* Centra el texto dentro del párrafo */
  z-index: 10; /* Asegura que el párrafo esté encima de otros elementos */
}

/* Estilo para los iconos de redes sociales */
.social-media {
  display: flex; /* Alinea los elementos en línea */
  justify-content: center; /* Centra los elementos */
  gap: 20px; /* Espacio entre los iconos */
  margin-top: 40px; /* Da espacio arriba */
}

/* Estilo para los enlaces de redes sociales */
.social-icon {
  text-decoration: none; /* Elimina el subrayado en los enlaces */
  color: rgb(255, 255, 255); /* El color del texto (puedes cambiarlo) */
  font-size: 18px; /* Tamaño de texto para los enlaces, igual a 20px */
  display: flex;
  align-items: center; /* Centra el texto y el icono verticalmente */
  gap: 10px; /* Espacio entre el icono y el texto */
  transition: color 0.3s ease; /* Transición suave cuando se pasa el ratón */
}

/* Color del icono y el texto en hover */
.social-icon:hover {
  color: silver; /* Cambia el color cuando el usuario pasa el ratón */
}

/* Estilo para los iconos de las redes sociales */
.social-icon i {
  font-size: 18px; /* Asegura que el icono tenga el mismo tamaño que el texto */
}
