/* ****************************************************************************************************************************************** */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ********************************************************** Contenedor para menú ********************************************************** */
.menuGaleria {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */


  /*overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;*/
}
/* ------------------------------------------------------------------------------------------------------------------------- Enlaces del menú */
.menuGaleria .nav-link {
  color: #000000; 
  font-weight: bold;
  text-decoration: none; /* Quita subrayado */
  padding: 0 5px; /* Espaciado dentro del enlace */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
/* ------------------------------------------------------------------------------------------------------- Efecto de hover sobre las pestañas */
.menuGaleria .nav-link:hover {
  background-color: rgb(15, 190, 15) !important;
  color: crimson !important;
  border: 2px solid yellow !important;
}
/* --------------------------------------------------------------------------------------------------------------------------- Pestaña activa */
.menuGaleria .nav-link.active {
  background-color: blue !important; 
  color: gold !important; 
  border: 2px solid black !important;
}
/* ******************************************* Aseguramos que la galería no se sobreponga al menú ******************************************* */
.tab-content {
  margin-top: 20px;
}
/* ******************************************************** Contenedor de la galería ******************************************************** */
.swiper-container {
  width: 100%;
  height: 470px;
  padding-bottom: 60px;
  position: relative; /* Asegura que los elementos dentro de este contenedor se posicionen relativamente */
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
/* *********************************************** Contenedor común para botones y paginación *********************************************** */
.swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
/* *************************************************************** Paginación *************************************************************** */
.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
/* ------------------------------------------------------------------------------------------------------------------ Puntos de la paginación */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7); /* Color semi-transparente para los puntos */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
/* ------------------------------------------------------------------------------------------------------ Cambiar color de los puntos activos */
.swiper-pagination-bullet-active {
  background-color: #37b106 !important;
  transform: scale(1.2); /* Agrandar ligeramente el punto activo para darle énfasis */
}
/* ********************************************************* Botones de PREV - NEXT ********************************************************* */
.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 15px;
  height: 15px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white !important;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  font-size: 20px;
}
/* Efectos para botones */
/* Hover oscuro */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: black;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */