
/* ******************************************************** Contenedor de la galería ******************************************************** */
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60px; 
  overflow: hidden;
}
/* ******************************************************** Para mejorar visibilidad ******************************************************** */
.swiper-slide {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* *********************************** Para que las imágenes tengan un margen y no se peguen a los bordes *********************************** */
.swiper-slide img {
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-right: 60px;
  object-fit: contain; /* Para que las imágenes no se distorsionen */
}
/* *************************************************************** Paginación *************************************************************** */
.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Posición de la paginación al fondo */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Asegurarse de que la paginación está encima de las imágenes */
}
/* ------------------------------------------------------------------------------------------------------------------ Puntos de la paginación */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7); /* Color semi-transparente para los puntos */
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
/* ------------------------------------------------------------------------------------------------------ Cambiar color de los puntos activos */
.swiper-pagination-bullet-active {
  background-color: #37b106 !important;
  transform: scale(1.2); /* Agrandar ligeramente el punto activo para darle énfasis */
}
/* *********************************************************** Botones navegación *********************************************************** */
.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Para hacer que las flechas tengan un fondo circular */
  background-color: #0f1897; /* Fondo azul fuerte */
  transition: background-color 0.3s, color 0.3s; /* Suavizar el cambio de fondo y color */
}
/* ---------------------------------------------------------------------------------------------------------------------------------- Flechas */
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px; /* Ajustar tamaño de las flechas */
  color: gold; /* Color dorado */
}
/* --------------------------------------------------------------------------------------------------- Estado hover (cuando se pasa el ratón) */
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #e63bad; /* Fondo rosa */
}
/* --------------------------------------------------------------------------------------------------------- Color de las flechas se mantiene */
.swiper-button-next:hover:after, .swiper-button-prev:hover:after {
  color: gold;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */