/* ****************************************************************************************************************************************** */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ********************************************************** Contenedor para menú ********************************************************** */
.menuGaleria {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */


  /*overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;*/
}
/* ------------------------------------------------------------------------------------------------------------------------- Enlaces del menú */
.menuGaleria .nav-link {
  color: #000000; 
  font-weight: bold;
  text-decoration: none; /* Quita subrayado */
  padding: 0 5px; /* Espaciado dentro del enlace */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
/* ------------------------------------------------------------------------------------------------------- Efecto de hover sobre las pestañas */
.menuGaleria .nav-link:hover {
  background-color: rgb(15, 190, 15) !important;
  color: crimson !important;
  border: 2px solid yellow !important;
}
/* --------------------------------------------------------------------------------------------------------------------------- Pestaña activa */
.menuGaleria .nav-link.active {
  background-color: blue !important; 
  color: gold !important; 
  border: 2px solid black !important;
}
/* ******************************************* Aseguramos que la galería no se sobreponga al menú ******************************************* */
.tab-content {
  margin-top: 20px;
}
/* ******************************************************** Contenedor de la galería ******************************************************** */
.swiper-container {
  width: 100%;
  height: auto;
  min-height: 460px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
/* *************************************************************** Paginación *************************************************************** */
.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Distancia desde el borde inferior */
  z-index: 10; /* Asegura que la paginación esté por encima de otros elementos */
  display: block;
}
/* ------------------------------------------------------------------------------------------------------------------ Puntos de la paginación */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7); /* Color semi-transparente para los puntos */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
/* ------------------------------------------------------------------------------------------------------ Cambiar color de los puntos activos */
.swiper-pagination-bullet-active {
  background-color: #37b106 !important;
  transform: scale(1.2); /* Agrandar ligeramente el punto activo para darle énfasis */
}

/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */