/* Estilos para el contenedor principal */
.inicio {
  background-color: #c1c6ca;
  color: #000000; /* Texto blanco */
  padding: 30px 10px;
}

.section-title-INICIO h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.section-title-INICIO h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.section-title-INICIO h4 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
}

#inicio h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
}

#inicio p {
  font-size: 15px;
  text-align: justify;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imágenes */
#inicio img {
  max-width: 100%;
  height: auto;
}

#inicio ul {
  list-style-type: square;
  padding: 10px;
}

#inicio li {
  text-align: justify;
}

.inicio .encabezado-tabla {
  background-color: royalblue;
  color: white;
  border-color: mediumblue;
  border-width: 4px;
  text-align: center;
  text-transform: uppercase;
}
/* *********************************************************** Tabla de la wave 1 *********************************************************** */
#inicio .col1 {
  background-color: white; /* RYU */
  color: black;
  border-color: white;
  border-width: 1px;
}

#inicio .col2 {
  background-color: black; /* FEI LONG */
  color: white;
  border-color: black;
  border-width: 1px;
}

#inicio .col3 {
  background-color: blue; /* CHUN LI */
  color: white;
  border-color: blue;
  border-width: 1px;
}
/* *********************************************************** Tabla de la wave 2 *********************************************************** */
#inicio .col4 {
  background-color: red; /* KEN */
  color: white;
  border-color: red;
  border-width: 1px;
}

#inicio .col5 {
  background-color: darkred; /* M BISON */
  color: white;
  border-color: darkred;
  border-width: 1px;
}

#inicio .col6 {
  background-color: yellow; /* DHALSIM */
  color: black;
  border-color: yellow;
  border-width: 1px;
}
/* **************************************************** Tabla de la wave 3 **************************************************** */
#inicio .col7 {
  background-color: green; /* GUILE */
  color: white;
  border-color: green;
  border-width: 1px;
}

#inicio .col8 {
  background-color: orangered; /* DEE JAY */
  color: white;
  border-color: orangered;
  border-width: 1px;
}

#inicio .col9 {
  background-color: lime; /* CAMMY */
  color: black;
  border-color: lime;
  border-width: 1px;
}
/* **************************************************** Tabla de la wave 4 **************************************************** */
#inicio .col10 {
  background-color: purple; /* VEGA */
  color: white;
  border-color: purple;
  border-width: 1px;
}

#inicio .col11 {
  background-color: darkblue; /* SAGAT */
  color: white;
  border-color: darkblue;
  border-width: 1px;
}

#inicio .col12 {
  background-color: greenyellow; /* BLANKA */
  color: black;
  border-color: greenyellow;
  border-width: 1px;
}
/* **************************************************** Tabla de la wave 5 **************************************************** */

/* **************************************************** Tabla de la wave 6 **************************************************** */

/* **************************************************** Tabla de los especiales **************************************************** */
.inicio .encabezado-especiales {
  background-color: hotpink;
  color: white;
  border-color: deeppink;
  border-width: 4px;
  text-align: center;
}

.inicio .titulo-tabla-especiales {
  background-color: deeppink;
  color: white;
  text-transform: uppercase;
}

.encabezado-especiales td, .encabezadi-especiales th {
  border-color: deeppink; /* Esto le da grosor a los bordes de las celdas */
  border-width: 4px;
}

.inicio .encabezado-especiales {
  border-collapse: collapse;
}
/* **************************************************** Tabla de las variantes **************************************************** */
.inicio .encabezado-variantes {
  background-color: crimson;
  color: white;
  border-color: firebrick;
  border-width: 4px;
  text-align: center;
}

.inicio .titulo-tabla-variantes {
  background-color: firebrick;
  color: white;
  text-transform: uppercase;
}