/* Estilo para el nav */
.navmenu {
  background-color: #000000;  /* Color de fondo del menú */
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;  /* Tamaño de la fuente ajustado a 18px */
  display: flex;  /* Asegura que los elementos dentro del nav estén alineados */
  align-items: center;  /* Centra los elementos verticalmente */
  justify-content: space-between;
  align-items: center;
}

.navbarIMGizquierda, .navbarIMGderecha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;  /* Ajusta el ancho máximo de las imágenes */
}

.navbarIMGizquierda img, .navbarIMGderecha img {
  width: auto;  /* Hace que la imagen ocupe el ancho del contenedor */
  height: 100%; /* Mantiene la relación de aspecto original */
}
/* Lista */
.nav-list {
  list-style-type: none;  /* Eliminar los puntos de lista */
  padding: 0;
  margin: 0;
  display: flex;  /* Mostrar los elementos en fila */
  justify-content: center;  /* Centrar los elementos */
}

/* Para cada item de la lista */
.nav-item {
  margin: 0 15px;  /* Espacio entre los elementos */
  display: inline-block; /* Asegura que el item se comporte como un bloque */
  height: 100%; /* Ocupa toda la altura del contenedor */
  line-height: 40px; /* Centra verticalmente el texto dentro del item */
  position: relative;  /* Necesario para la posición de los enlaces */
}

/* Enlaces */
.nav-link {
  text-decoration: none;  /* Eliminar el subrayado del enlace */
  font-size: 18px;  /* Tamaño de la fuente */
  padding: 8px 16px;  /* Espaciado alrededor del enlace */
  display: block;  /* Asegurarse de que el enlace ocupe toda el área del item */
  transition: all 0.3s ease;  /* Transición suave para color y fondo */
  color: #ffffff;  /* Color del texto */
  height: 100%; /* Ocupa toda la altura del contenedor */
  width: 100%;
  text-align: center; /* Centra el texto dentro del enlace */
  line-height: 40px; /* Centra el texto verticalmente */
}

/* Cambio de color y fondo cuando se pasa el mouse (hover) */
.nav-link:hover {
  background-color: silver;  /* Fondo dorado */
  color: black !important;  /* Texto negro */
  border-radius: 5px; /* Bordes redondeados opcionales para una mejor apariencia */
}

/* Si un enlace está activo, se resalta con otro fondo */
.nav-link.active {
  background-color: #0080ff;  /* Fondo azul */
  color: black !important;  /* Texto blanco */
}
