/* ***************************************************************** Título ***************************************************************** */
.character-item {
  text-align: center;
}

.character-item h4 {
  font-size: 24px;
  color: #333;
}
/* ************************************************************* Carrusel */
.carousel {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}
.carousel.active {
  display: block;
}

.carousel h4 {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: black;
}

.carousel-item img {
  padding-top: 40px;
  max-height: 400px;
  object-fit: cover;
}

/* Botones de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  color: white;
  border-radius: 50%;
}

/* Efectos para botones */
button.carousel-control-prev,
button.carousel-control-next {
  border: none;
  background: transparent;
}
/* *************************************************************** Paginación *************************************************************** */
#customPagination {
  display: block;
  column-count: 2; /* Divide la lista en 3 columnas */
  column-gap: 10px; /* Espacio entre las columnas */
  overflow: hidden; /* Evita que la lista se desborde */  
  padding: 10px;
  margin: 10px;
}

#customPagination li {
  font-size: 18px;
  text-align: center;
  padding: 5px 5px;
  list-style-type: none;
  margin: 5px 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Cambia el color para destacar el elemento seleccionado */
#customPagination li.active {
  font-weight: bold;
  color: darkgreen;
  background-color: #c1c6ca;
  cursor: default;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */