/* ****************************************************************************************************************************************** */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ***************************************************************** Título ***************************************************************** */
#variantes h4 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
/* ********************************************************** Lista de navegación ********************************************************** */
.menu-variantes {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-variantes li {
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s ease;
  text-transform: uppercase;
  border: 2px solid transparent;
}

#ryuGris {
  background: linear-gradient(135deg, #555, #999);
}

#kenBlanco {
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
  color: #111;
}

#chunLiRoja {
  background: linear-gradient(135deg, #b30000, #ff4d4d);
}

#mBisonAzul {
  background: linear-gradient(135deg, #001f4d, #3399ff);
}

#guileAzul {
  background: linear-gradient(135deg, #003366, #00bfff);
}

#cammyGris {
  background: linear-gradient(135deg, #666, #bbb);
}

#blankaAzul {
  background: linear-gradient(135deg, #003366, #00bfff);
}
/* ************************************************************ Elemento activo ************************************************************ */
.menu-variantes li:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(255,255,255,.4);
}

.menu-variantes li.active {
  transform: scale(1.08);
  border: 2px solid #fff;
  box-shadow:
    0 0 10px #fff,
    0 0 20px rgba(255,255,255,.5);
}
/* ****************************************************** Acomodo de las imágenes */
#variantes .variantes-container {
  display: flex;
  gap: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#variantes .variante-img {
  max-width: auto; /* Asegura que las imágenes no desborden el contenedor */
  height: 500px;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */